# Site
site_name: 'Contacts, Reborn'
site_description: 'Android Contacts API Library for Kotlin and Java.'
site_author: 'Vandolf Estrellado'
site_url: 'https://vestrel00.github.io/contacts-android/'

# Repository
repo_name: 'vestrel00/contacts-android'
repo_url: 'https://github.com/vestrel00/contacts-android'
edit_uri: 'tree/main/docs/'
remote_branch: gh-pages

# Navigation
nav:
  - 'Overview': index.md
  - 'Setup':
    - 'Contacts API Setup': setup/setup-contacts-api.md
  - 'Entities':
      - 'API entities': entities/about-api-entities.md
      - 'Blank contacts': entities/about-blank-contacts.md
      - 'Blank data': entities/about-blank-data.md
      - 'Include only certain fields for read and write operations': entities/include-only-desired-data.md
      - 'Local (device-only) contacts': entities/about-local-contacts.md
      - 'Contact lookup key vs ID': entities/about-contact-lookup-key.md
      - 'Sync contact data across devices': entities/sync-contact-data.md
      - 'Redact entities and API input and output in production': entities/redact-apis-and-entities.md
  - 'Basics':
    - 'Query contacts': basics/query-contacts.md
    - 'Query contacts (advanced)': basics/query-contacts-advanced.md
    - 'Insert contacts': basics/insert-contacts.md
    - 'Update contacts': basics/update-contacts.md
    - 'Delete contacts': basics/delete-contacts.md
  - 'Data':
    - 'Query specific data kinds': data/query-data-sets.md
    - 'Insert data into new or existing contacts': data/insert-data-sets.md
    - 'Update existing sets of data': data/update-data-sets.md
    - 'Delete existing sets of data': data/delete-data-sets.md
  - 'Custom data':
    - 'Query custom data': customdata/query-custom-data.md
    - 'Insert custom data into new or existing contacts': customdata/insert-custom-data.md
    - 'Update custom data': customdata/update-custom-data.md
    - 'Delete custom data': customdata/delete-custom-data.md
    - 'Integrate custom data': customdata/integrate-custom-data.md
    - 'Integrate custom data from other apps': customdata/integrate-custom-data-from-other-apps.md
    - 'Integrate the Google Contacts custom data': customdata/integrate-googlecontacts-custom-data.md
    - 'Integrate the Gender custom data': customdata/integrate-gender-custom-data.md
    - 'Integrate the Handle Name custom data': customdata/integrate-handlename-custom-data.md
    - 'Integrate the Pokemon custom data': customdata/integrate-pokemon-custom-data.md
    - 'Integrate the RPG custom data': customdata/integrate-rpg-custom-data.md
  - 'Groups':
    - 'Query groups': groups/query-groups.md
    - 'Insert groups': groups/insert-groups.md
    - 'Update groups': groups/update-groups.md
    - 'Delete groups': groups/delete-groups.md
  - 'Profile':
    - 'Query device owner Contact profile': profile/query-profile.md
    - 'Insert device owner Contact profile': profile/insert-profile.md
    - 'Update device owner Contact profile': profile/update-profile.md
    - 'Delete device owner Contact profile': profile/delete-profile.md
  - 'Accounts':
    - 'Query for Accounts': accounts/query-accounts.md
    - 'Query RawContacts': accounts/query-raw-contacts.md
    - 'Associate a local RawContact to an Account': accounts/associate-device-local-raw-contacts-to-an-account.md
  - 'Blocked numbers':
    - 'About blocked numbers': blockednumbers/about-blocked-numbers.md
    - 'Query blocked numbers': blockednumbers/query-blocked-numbers.md
    - 'Insert blocked numbers': blockednumbers/insert-blocked-numbers.md
    - 'Delete blocked numbers': blockednumbers/delete-blocked-numbers.md
  - 'Permissions':
    - 'Permissions handling using coroutines': permissions/permissions-handling-coroutines.md
  - 'Asynchronous work':
    - 'Execute work outside of the UI thread using coroutines': async/async-execution-coroutines.md
  - 'UI':
    - 'Integrate rudimentary contacts ui components': ui/integrate-rudimentary-contacts-integrated-ui-components.md
  - 'Other':
    - 'Get set remove full-sized and thumbnail contact photos': other/get-set-remove-contact-raw-contact-photo.md
    - 'Get set Contact options': other/get-set-clear-contact-raw-contact-options.md
    - 'Get set clear default Contact data': other/get-set-clear-default-data.md
    - 'Link unlink Contacts': other/link-unlink-contacts.md
    - 'Convenience functions': other/convenience-functions.md
  - 'Logging':
    - 'Log API input and output': logging/log-api-input-output.md
  - 'Testing':
    - 'Contacts API Testing': testing/test-contacts-api.md
  - 'Debug':
      - 'Debug the Contacts Provider tables': debug/debug-contacts-provider-tables.md
  - 'Contributing': contributing.md
  - 'Developer notes': dev-notes.md

# Theme
theme:
  name: 'material'
  language: 'en'
  favicon: images/favicon.png
  icon:
    logo: material/contacts
    repo: fontawesome/brands/github
  palette:
    primary: 'deep orange'
    accent: 'red'
  font:
    text: 'Roboto'
    code: 'JetBrains Mono'

# Plugins
plugins:
  - search

# Extensions
markdown_extensions:
  - toc:
      permalink: true