version: 2.1
orbs:
  android: circleci/android@3.2.0
jobs:
  build:
    executor:
      name: android/android_machine
      resource_class: large
      tag: default
    steps:
      - checkout
      - android/accept_licenses
      - android/restore_gradle_cache
      - android/restore_build_cache
      - run:
          name: Build all variants
          command: |
            ./gradlew build